.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

.bizCard {
  width: 60%;
  /* display: grid;
  grid-template-rows: repeat(minmax(170px, 1fr));
	grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; */
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.card {
  margin: 15px auto;
}

body {
  background: hsla(180, 100%, 97%, 1);
  
  background: linear-gradient(135deg, hsla(180, 100%, 97%, 1) 10%, hsla(189, 41%, 97%, 1) 50%, hsla(213, 100%, 96%, 1) 100%);
  
  background: -moz-linear-gradient(135deg, hsla(180, 100%, 97%, 1) 10%, hsla(189, 41%, 97%, 1) 50%, hsla(213, 100%, 96%, 1) 100%);
  
  background: -webkit-linear-gradient(135deg, hsla(180, 100%, 97%, 1) 10%, hsla(189, 41%, 97%, 1) 50%, hsla(213, 100%, 96%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1FFFF", endColorstr="#F3F9FA", GradientType=1 );
  }

main {
    background: hsla(180, 100%, 97%, 1);
    
    background: linear-gradient(135deg, hsla(180, 100%, 97%, 1) 10%, hsla(189, 41%, 97%, 1) 50%, hsla(213, 100%, 96%, 1) 100%);
    
    background: -moz-linear-gradient(135deg, hsla(180, 100%, 97%, 1) 10%, hsla(189, 41%, 97%, 1) 50%, hsla(213, 100%, 96%, 1) 100%);
    
    background: -webkit-linear-gradient(135deg, hsla(180, 100%, 97%, 1) 10%, hsla(189, 41%, 97%, 1) 50%, hsla(213, 100%, 96%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1FFFF", endColorstr="#F3F9FA", GradientType=1 );
    background-size: cover;
    
}