.cardImg {
  margin: auto;
  margin-top: 15px;
  max-width: 40%;
  border: 0.3mm solid;
  border-radius: 15px;
  padding: 5px;
  background-color: #fafafa;
  color: black;
  
}

.card {
  background-color: rgb(232, 232, 232)
}