span {
  color: red;
  font-size: 1.2rem ;
}

.create-business-form {
  text-align: center;
  background-color: white;
  width: 40%;
  margin: auto;
  padding: 10px 20px 10px 20px;
  border: 0.2mm solid;
  border-radius: 0%;
  font-family: 'Poppins', sans-serif;
  border-radius: 1%;
}

h1 {
  text-align: center;
  background-color: white;
  width: 25%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  padding: 5px;
  border: 0.5mm solid;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
}

label {
  padding: 0px;
  margin: 0px;
}
