.header {
  display: flex;
  flex-direction: column;
}

.title {
  border-radius: 5%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: fit-content;
  grid-gap: 18px;
}

.listButton {
  justify-self: center;
  align-self: center;
  background-color: white;
}

.card {
  width :40vw;
  margin: 0 auto;
  text-align: center;
}

.list {
  text-align: center;
  background-color: white;
  width: 20vw;
  margin: 10px auto;
  font-size: 25px;
  padding: 20px;
  border: 0.5mm solid;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
}

.profileName {
  background-color: white;
  width: 25%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border: 0.3mm solid;
  border-radius: 1%;
}

