.header {
  display: flex;
  flex-direction: column;
}

.title {
  border-radius: 5%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.listButton {
  justify-self: center;
  align-self: center;
  background-color: white;
}

.list {
  text-align: center;
  background-color: white;
  width: 40vw;
  margin: 10px auto;
  font-size: 25px;
  padding: 20px;
  border: 0.5mm solid;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
}

.profileName {
  background-color: white;
  width: 25%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border: 0.3mm solid;
  border-radius: 1%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

.bizCard {
  width: 80%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.card {
  margin: 15px auto;
}

@media screen and (min-width: 600px) {
  .bizCard {
    width: 40%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
}