.businessInfo {
  float: left;
  text-align: center;
  background-color: white;
  width: 80%;
  padding: 10px;
  border: 0.05mm solid;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin: 20px 10%;
}

.businessPic {
  max-height: 500px;
  max-width: 60%;
  text-align: center;
  background-color: #fafafa;
  border: 0.5mm ridge;
  padding: 10px;
  border-radius: 5%;
}

.form { 
  text-align: center;
  background-color: white;
  width: 25%;
  margin: 0 45%; 
  padding: 10px 10px 10px 20px;
  border: 0.2mm solid; 
  border-radius: 1%;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}
.review {
  margin: 10px auto;
  border: 0.05mm solid;
  border-radius: 15px;
  background-color: rgb(242, 242, 242);
}

.Btn{
  background-color: white;
  width: fit-content;
  margin: 0 auto;
}

.reviewFormDiv {
  width: 50vw;
  margin: 0 auto;
}
