h3 {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  width: 30%;
  padding: 10px;
  border: 0.05mm solid;
  border-radius: 3%;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

h4 {
  margin-top: 20px;
  background-color: white;
  width: 18%;
  padding: 10px;
  border: 0.2mm solid;
  border-radius: 2%;
  font-size: 18px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

h5 {
  text-align: center;
  margin: auto;
  background-color: white;
  width: 20%;
  padding: 10px;
  border: 0.3mm solid;
  border-radius: 1%;
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.businessPic {
  max-width: 15%;
  margin-top: 0px;
  margin-left: 645px;
  text-align: center;
  background-color: #fafafa;
  border: 0.5mm ridge;
  padding: 10px;
  border-radius: 5%;
}

body {
background: hsla(180, 100%, 97%, 1);

background: linear-gradient(135deg, hsla(180, 100%, 97%, 1) 10%, hsla(189, 41%, 97%, 1) 50%, hsla(213, 100%, 96%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(180, 100%, 97%, 1) 10%, hsla(189, 41%, 97%, 1) 50%, hsla(213, 100%, 96%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(180, 100%, 97%, 1) 10%, hsla(189, 41%, 97%, 1) 50%, hsla(213, 100%, 96%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1FFFF", endColorstr="#F3F9FA", GradientType=1 );
}

form {
  text-align: center;
  background-color: white;
  width: 25%;
  margin: auto; 
  padding: 10px 20px 10px 20px;
  border: 0.2mm solid; 
  border-radius: 1%;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.editBtn {
  padding: 0px;
  margin: 5px 20px 5px 700px;
}

.reviewsTitle {
  margin-top: 25px;
  border: 0.3mm solid;
  width: 15%;
}

